/* div {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
    background-color: aqua;
}

li {
    list-style-type: none;
    display: inline;
}

.navbar {
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: red;
}

li {
  list-style-type: none;
  background-color: white;
}

.outer {
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    align-self: self-start;
} */

div {
    height: 100px;
    width: 100px;
    background-color: aqua;
}

@media (width:600px) {
    div {
        background-color: blue;
    }
}

@media (min-width:600px) {
    div {
        background-color: blue;
    }
}