body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#container{
    width: 800px;
    height: 200px;
    display: flex;

    /* flex-direction: row-reverse; */

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content:space-around;
    justify-content: space-between;
    justify-content: space-evenly;

    flex-wrap: wrap;

    align-items: center;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: pink;
    align-self: self-end;
}

#box3 {
    background-color: darkkhaki;
}

#box4 {
    background-color: indianred;
}

#box5 {
    background-color: slateblue;
}